[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
pydantic = "*"
motor = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
pymongo = {extras = ["srv"], version = "*"}
python-slugify = "*"
pytest = "*"
requests = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.10"
